@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2">
        <div class="card">
            <div class="card-header">
                Grafico 1: Cantidad de Colmenas creadas por año
            </div>
            <div class="card-body">
                <canvas id="canvas2" style="max-height:250px"></canvas>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/graficos.js"></script>

    <script>
        const canvas3 = document.getElementById("canvas3");
        let labels = ['hola', 'mundo'];
        let data = [5,4];
        let title = 'Hola Como estas';
        GraficoBarras(canvas3, labels, data, title);
    </script>

    <script>
        async function GraficoColmenasFecha()
        {   
            //primero recibo los datos y los convierto a Json
            const res = await fetch("DatosColmenasFecha");
            const datos = await res.json();          
            
            //ahora comienzo a filtrarlo para obtener un array de arrays
            let valores = Object.entries(datos);
            
            //segundo filtro
            let valores2 = datos.map((item)=>Object.entries(item));            

            //creo el array years y el array cantidad para volcar los datos
            let years = [];
            let cantidad = [];
                        
            //creo la variable size porque no me funciona el array.lenght
            let size = CalcularSize(datos);     
                    
            //ahora vuelco los datos en years y cantidad
            for (let i=0; i < size; i++)
            {                
                years[i] = valores2[i][0][1];
                cantidad[i] = valores2[i][1][1];
            }                       

            //ahora graficamos los datos
            const canvas2 = document.getElementById('canvas2');
            GraficoBarras(canvas2, years, cantidad, 'Colmenas por año');
                       
        }       
        
        //definimos esta funcion por problemas con el arreglo.lenght
        function CalcularSize(arreglo)
        {
            let i=0;
            arreglo.map((item) => i=i+1);
            return i;
        }

        //cargamos todos los graficos cuando esta lista la pagina
        $(document).ready(() => {
            GraficoBarras();
            GraficoColmenasFecha();            
        })        
    </script>

}
