@model ColmenaViewModel
@{
}
<head>
    <link href="/css/colmena.css" rel="stylesheet" />
    @section Scripts {
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AmrnF-1-dvaNYDUkUuogYW8SOvy2cut1Xdxs4EzsahlVv8HrT_MvGx0HPKP8dOlZ&callback=mapLoaded' async defer></script>
        <script src="/js/ubicacion.js"></script>
        <script src="/js/colmenaCreate.js"></script>
    }
</head>
<div class="colmena-container">
    <h2 class="colmena-title">Crear Colmena</h2>
    <form class="colmena-form" asp-action="ColmenaCrear" method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <!-- Número de identificación -->
        <div class="form-group">
            <input asp-for="numIdentificador" class="form-control" placeholder="Número de identificación" />
            <span asp-validation-for="numIdentificador" class="text-danger"></span>
            <span id="validationMessage" class="validation-message"></span>
        </div>

        <!-- Fecha de ingreso -->
        <div class="form-group">
            <input asp-for="FechaIngreso" id="fechaIngreso" class="form-control" placeholder="Fecha de ingreso colmena" />
            <span asp-validation-for="FechaIngreso" class="text-danger"></span>
        </div>

        <!-- Tipo de colmena -->
        <div class="form-group">
            <select asp-for="TipoColmena" class="form-control">
                <option value="" id="defaultOption">Seleccione un tipo de colmena</option>
                <option value="Dadant">Dadant</option>
                <option value="Langstroth">Langstroth</option>
                <option value="Baby">Baby</option>
            </select>
            <span asp-validation-for="TipoColmena" class="text-danger"></span>
        </div>

        <!-- Descripción -->
        <div class="form-group">
            <input asp-for="Descripcion" class="form-control" placeholder="Descripción" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>

        <!-- Ubicación predeterminada -->
        <div class="form-group">
            <select asp-for="UbicacionPredeterminada" asp-items="Model.UbicacionesPredeterminadas" class="form-control">
                <option value="" id="defaultUbicacionOption">Seleccione el lugar donde estarán las colmenas</option>
            </select>
        </div>

        <!-- Mapa interactivo -->
        <div class="form-group">
            <p>Usa el mapa interactivo para registrar la ubicación de la colmena:</p>
            <div id="myMap" class="map-container"></div>
            <div id="locationDetails">
                <p id="locationName" class="location-name">Ubicación escogida: Ninguna</p>
            </div>
        </div>

        <input type="hidden" id="UbicacionColmena" name="UbicacionColmena" />
        <input asp-for="Latitude" type="hidden" />
        <input asp-for="Longitude" type="hidden" />

        <!-- Botón de envío -->
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">Crear Colmena</button>
        </div>
    </form>
</div>

