@model List<Colmena>
@{
    ViewData["Title"] = "Administrar Colmenas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<h1 class="text-center">Administrar Colmenas</h1>
<a asp-controller="Agenda" asp-action="AgendaIndex">Correo</a>
<div class="row">
    <div class="card mx-auto image-fade-in-expand card-personalizada" style="width: 15rem;">
        <img src="/css/createcolmena.svg" class="card-img-top img-fluid mx-auto d-block" alt="...">
        <div class="card-body">
            <h5 class="card-title">Crear nuevas colmenas</h5>
            <p class="card-text">¿Necesitas crear una nueva colmena?, ¡has llegado al apartatdo correcto!</p>
            <a asp-action="ColmenaCrear" class="btn btn-primary">Crear colmena</a>
        </div>
    </div>
    <div class="card mx-auto image-fade-in-expand card-personalizada" style="width: 15rem;">
        <img src="/css/vercolmena.svg" class="card-img-top img-fluid mx-auto d-block" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ver colmenas</h5>
            <p class="card-text">¿Necesitas ver, editar o eliminar alguna colmena?, ¡has llegado al apartado correcto!</p>
            <a asp-action="ColmenaIndex" class="btn btn-primary">Ver colmenas</a>
        </div>
     </div>
    <div class="card mx-auto image-fade-in-expand card-personalizada" style="width: 15rem;">
        <img src="/css/infocolmena.svg" class="card-img-top img-fluid mx-auto d-block" alt="...">
        <div class="card-body">
            <h5 class="card-title">Info colmenas</h5>
            <p class="card-text">¿Necesitas revisar detalles de tus colmenas?, ¡has llegado al apartado correcto!</p>
            <a asp-action="ColmenaResumen" class="btn btn-primary">Informacion colmenas</a>
        </div>
    </div>
    <div class="card mx-auto image-fade-in-expand card-personalizada" style="width: 15rem;">
        <img src="/css/infocolmena.svg" class="card-img-top img-fluid mx-auto d-block" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ubicación Colmenas</h5>
            <p class="card-text">¿Necesitas revisar la ubicación de cada colmena?, ¡has llegado al apartado correcto!</p>
            <a asp-action="MapaColmena" class="btn btn-primary">Ver ubicación de colmenas</a>
        </div>
    </div>
</div>