@{
    ViewData["Title"] = "Mapa de Colmenas";
}
<link href="/css/mapa.css" rel="stylesheet" />
<select id="filtroTipoColmena">
    <option value="Todas">Todas</option>
    <option value="Dadant">Dadant</option>
    <option value="Langstroth">Langstroth</option>
</select>
<div id="myMap" style="position:relative;width:100%;height:600px;"></div>

<!-- Contenedor para Infobox personalizado -->
<div id="customInfobox" class="custom-infobox">
    <!-- El contenido del Infobox se llenará dinámicamente -->
</div>
<div id="contextMenu" class="context-menu" style="display:none">
    <ul>
        <li id="contextMenuOptions">Guardar Ubicación</li>
    </ul>
</div>

@section Scripts {
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AmrnF-1-dvaNYDUkUuogYW8SOvy2cut1Xdxs4EzsahlVv8HrT_MvGx0HPKP8dOlZ&callback=loadMapScenario' async defer></script>
    <script src="/js/mapaColmenas.js"></script>
}
