@{
    ViewData["Title"] = "Home Page";
    string userName = ViewData["UserName"] as string;
    var netVersion = Environment.Version;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="../assets/css/styles.min.css" />
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<body>
    <header>
        <div class="content-header">
            <h2 class="tracking-in-expand">¡Bienvenido a Beesiness@(string.IsNullOrEmpty(userName) ? "" : ", " + userName)!</h2>
            <p>Bienvenido al panel de Usuario de Beesiness, desde aquí podrás gestionar tus colmenas, estadística de la cosecha de miel como de polinización, entre otras cosas más.</p>
            <p class="net-version">¡Usando .NET @netVersion.Major!</p>
        </div>
        <div class="imagen-header image-fade-in-expand"></div>
    </header>
</body>

</html>