@model Beesiness.Models.UbicacionMapa

<form asp-action="AgregarUbicacion" asp-controller="Mapa" method="post">
	<input asp-for="Nombre" placeholder="Nombre de Ubicación" />
	<input asp-for="Descripcion" placeholder="Descripción de Ubicación" />
	<input asp-for="Latitude" type="hidden" />
	<input asp-for="Longitude" type="hidden" />
	<input asp-for="ZoomLevel" type="hidden" />
	<button type="submit">Guardar Ubicación</button>
</form>