@model EditUserViewModel

@{
    ViewBag.Title = "Editar Usuario";
}

<h2>Editar Usuario</h2>

<form asp-action="EditUser" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Correo"></label>
        <input asp-for="Correo" class="form-control" />
        <span asp-validation-for="Correo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IdRolSeleccionado">Rol</label>
        <select asp-for="IdRolSeleccionado" asp-items="Model.RolesDisponibles" class="form-control"></select>
    </div>
    <div class="form-group">
        <input type="checkbox" id="changePasswordCheckbox" onclick="togglePasswordFields();" />
        <label for="changePasswordCheckbox">¿Deseas cambiar la contraseña?</label>
    </div>

    <div id="passwordFields" style="display:none;">
        <div class="form-group">
            <label asp-for="NewPassword">Nueva Contraseña</label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmNewPassword">Confirmar Nueva Contraseña</label>
            <input asp-for="ConfirmNewPassword" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function togglePasswordFields() {
            var passwordFields = document.getElementById('passwordFields');
            var isChecked = document.getElementById('changePasswordCheckbox').checked;
            passwordFields.style.display = isChecked ? 'block' : 'none';
        }
    </script>
}

