@model CreateUserViewModel

@{
    ViewData["Title"] = "IndexUser";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<h1 class="text-center">Administrar Usuarios</h1>
<div class="row">
    <div class="card card-personalizada mx-auto image-fade-in-expand" style="width: 15rem;">
        <img src="/css/apicultorver.svg" class="card-img-top img-fluid mx-auto d-block" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ver usuarios registrados</h5>
            <p class="card-text">Apartado para ver los usuarios que se encuentran registrados dentro de Beesiness</p>
            <a asp-controller="Usuarios" asp-action="GestionUsuario" class="btn btn-primary">Ver usuarios</a>
        </div>
    </div>
    <div class="card mx-auto image-fade-in-expand card-personalizada" style="width: 15rem;">
        <img src="/css/apicultorver.svg" class="card-img-top img-fluid mx-auto d-block" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ver usuarios que están pendientes de registro</h5>
            <p class="card-text">Apartado para revisar y poder registrar a los usuarios que están pendiente de registro</p>
            <a asp-controller="Auth" asp-action="RequestRegistrationIndex" class="btn btn-primary">Ver usuarios pendientes de registro</a>
        </div>
    </div>
    <div class="card mx-auto image-fade-in-expand card-personalizada" style="width: 15rem;">
        <img src="/css/roles.svg" class="card-img-top img-fluid mx-auto d-block" alt="...">
        <div class="card-body">
            <h5 class="card-title">Roles</h5>
            <p class="card-text">Apartado dedicado a los roles, donde puedes crear, editar y eliminar roles de los usuarios del sistema</p>
            <a asp-controller="Usuarios" asp-action="EditUser" class="btn btn-primary">Ver roles</a>
        </div>
    </div>
</div>