@model InfoColmenaViewModel
@{
}

<div>
    <h2>Nueva Informacion del estado de la Colmena</h2>
</div>

<div>
    <form class="row justify-content-evenly" asp-action="InformacionColmenaCrear" method="post">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <input asp-for="Ubicacion" class="form-control" placeholder="Ubicacion de la Colmena" />
                <span asp-validation-for="Ubicacion" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input asp-for="TiempoVida" class="form-control" placeholder="Tiempo de Vida" />
                <span asp-validation-for="TiempoVida" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input asp-for="EstadoSalud" class="form-control" placeholder="Estado de Salud" />
                <span asp-validation-for="EstadoSalud" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Id">Colmena</label>
                <select asp-for="Id" asp-items="Model.ColmenasDisponibles" class="form-control">
                    <option value=@Model.Id>@Model.Id</option>
                </select>
            </div>
            <div class="form-group mt-3">
                <label asp-for="IdInspeccion">Inspeccion</label>
                <select asp-for="IdInspeccion" asp-items="Model.InspeccionesDisponibles" class="form-control">
                    <option value=@Model.Id>@Model.Id</option>
                </select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Crear nueva Informacion de Colmena" class="btn btn-outline-success col-12" />
            </div>
        </div>
    </form>
</div>
