/* Contenedor General */
.colmena-container {
    padding: 20px;
    background-color: #111820;
    color: #f5f5f5;
    border-radius: 10px;
    max-width: 95%;
    margin: auto;
}

/* Título */
.colmena-title {
    text-align: center;
    font-size: 2rem;
    color: #ffcc00;
    margin-bottom: 20px;
}

/* Filtros */
.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

/* Tabla */
.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

.table th {
    background-color: #ffcc00;
    color: #111820;
}

.table tbody tr:hover {
    background-color: #222831;
}

/* Botones de Acción */
.btn-action i {
    font-size: 1.2rem;
    transition: color 0.3s ease, transform 0.2s ease;
}

.btn-action:hover i {
    transform: scale(1.2);
    color: #ffcc00;
}

/* Dropdown funcionalidad */
.dropdown-content {
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: 100%; /* Justo debajo del botón */
    left: 0;
    background-color: #1c2331;
    border: 1px solid #ffcc00;
    border-radius: 5px;
    z-index: 10;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
}

    .dropdown-content.show {
        display: block;
        opacity: 1;
    }

    .dropdown-content a {
        display: block;
        color: #ffcc00;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 1rem;
    }

        .dropdown-content a:hover {
            background-color: #ffcc00;
            color: #1c2331;
        }
