.custom-infobox {
    display: none; /* Ocultar por defecto */
    position: absolute;
    background: #feedc6; /* Fondo claro */
    border: 1px solid #ccc; /* Bordes sutiles */
    padding: 10px;
    border-radius: 4px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra suave */
    z-index: 1000;
    /* Más estilos según la identidad visual de tu página */
}
.infobox-content {
    padding: 10px;
    // ... (cualquier otro estilo que desees aplicar al contenido)
}

.infobox-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    // O cualquier color que combine con tu diseño border: none;
    cursor: pointer;
}

.context-menu {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.context-menu-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.context-menu-close {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}
