@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/contraseñaolvidada.css">
</head>
<body>
    <div class="con-body">
        <div class="image-con image-fade-in-expand"></div>
        <h3 class="tracking-in-expand">Contraseña olvidada, contacta con administrador</h3>
    </div>
</body>
</html>
