@model Beesiness.Models.LoginRegistrationViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Bienvenido a Beesiness</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form asp-action="RequestRegistration" method="Post">
                <h1>Solicitar cuenta</h1>
                <span>Ingresa los siguientes datos</span>
                <input asp-for="Registration.NombreCompleto" type="text" placeholder="Nombre y apellido">
                <input asp-for="Registration.Correo" type="email" placeholder="Correo electrónico">
                <input asp-for="Registration.RolSeleccionado" type="text" placeholder="Rol">
                <button>Solicitar registro</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form asp-action="LoginIn" method="Post">
                <h1>Ingresar a su cuenta</h1>
                <span>Ingresa tus datos</span>
                <input asp-for="Login.Correo" type="email" type="email" placeholder="Correo electrónico">
                <input asp-for="Login.Password" type="password" type="password" placeholder="Password">
                <a href="#">¿Olvidaste tu contraseña?</a>
                <button>Ingresar</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>¡Bienvenido de vuelta a Beesiness!</h1>
                    <p>Ingresa tus datos para poder ingresar al sistema</p>
                    <button class="hidden" id="login">Ingresar</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>¡Hola, visitante!</h1>
                    <p>Solicita tu registro para poder acceder al sistema</p>
                    <button class="hidden" id="register">Solicitar registro</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/scripts.js"></script>
</body>

</html>