@{
    ViewData["Title"] = "Administrar Tareas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<h1 class="text-center">Administrar Tareas</h1>
<div class="row">
    <div class="card mx-auto image-fade-in-expand card-personalizada" style="width: 15rem;">
        <img src="/css/createcolmena.svg" class="card-img-top img-fluid mx-auto d-block" alt="...">
        <div class="card-body">
            <h5 class="card-title">Crear nueva tarea</h5>
            <p class="card-text">¿Necesitas crear una nueva Tarea?, ¡has llegado al apartatdo correcto!</p>
            <a asp-action="TareaCrear" class="btn btn-primary">Crear tarea</a>
        </div>
    </div>
    <div class="card mx-auto image-fade-in-expand card-personalizada" style="width: 15rem;">
        <img src="/css/vercolmena.svg" class="card-img-top img-fluid mx-auto d-block" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ver tareas</h5>
            <p class="card-text">¿Necesitas ver, editar o eliminar alguna tarea?, ¡has llegado al apartado correcto!</p>
            <a asp-action="TareaIndex" class="btn btn-primary">Ver tareas</a>
        </div>
    </div>   
</div>