@model Beesiness.Models.EstadoArduino

<link href="/css/Arduino.css" rel="stylesheet" />


<div id="estadoArduino" class="estado-arduino-container">
    <h3>Estado del Arduino</h3>
    <p>Arduino Conectado: <span id="arduinoConectado" class="@Model.ArduinoConectado ? "conectado" : "desconectado"">@Model.ArduinoConectado</span></p>
    <div id="indicadorConexion" class="indicador-conexion @Model.ArduinoConectado ? "conectado" : "desconectado""></div>
    <button id="verificarEstado" class="boton-verificar">Verificar Estado</button>
</div>

@section Scripts {
    <script>
        const verificarEstadoUrl = '@Url.Action("VerificarEstadoArduino", "Arduino")';
    </script>
    <script src="/js/Arduino.js"></script>
}
